[build]
  command = "npm run build"
  publish = "dist"
  base = "frontend"

[build.environment]
  VITE_API_URL = "https://app-checklist-uli.fly.dev"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
